{% extends "layout.html" %}
{% block content%}
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-3">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted}}</small>
            <h2><a class="article-title">{{ post.title }}</a></h2>

            <a class="text-muted" href="https://github.com/CSSEGISandData/COVID-19">John Hopkins Dataset</a>
            <form action="/func" class='myButton'>
                <input type="submit" value="Load"/>
            </form>
        </div>
    </div>
</article>
{% endfor %}
<img src="static/bot.webp" style="max-width: 100%; height: auto" sizes="(max-width: 320px) 320px;"/>
<div class="search-box">
<input class="search-txt" type="text" name="" placeholder="ask the bot">
<a class="search-btn" href="#">
<i class="fas fa-search"></i>
</a>
</div>
{% endblock content%}


